{
  "openapi": "3.0.0",
  "info": {
    "title": "PeerTube",
    "version": "7.1.0",
    "contact": {
      "name": "PeerTube Community",
      "url": "https://joinpeertube.org"
    },
    "license": {
      "name": "AGPLv3.0",
      "url": "https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE"
    },
    "x-logo": {
      "url": "https://joinpeertube.org/img/brand.png",
      "altText": "PeerTube Project Homepage"
    },
    "description": "The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite\nHTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with\n[openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)\n which generates a client SDK in the language of your choice - we generate some client SDKs automatically:\n\n- [Python](https://framagit.org/framasoft/peertube/clients/python)\n - [Go](https://framagit.org/framasoft/peertube/clients/go)\n- [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)\n \nSee the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few\nexamples of using the PeerTube API.\n\n# Authentication\n\nWhen you sign up for an account on a PeerTube instance, you are given the possibility\n to generate sessions on it, and authenticate there using an access token. Only __one\naccess token can currently be used at a time__.\n\n## Roles\n\nAccounts are given permissions based on their role. There are three roles on\nPeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.\n\n# Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.\n\n```\nHTTP 1.1 404 Not Found\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Video not found\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n```\n\nWe provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),\n but it is still optional. Types are used to disambiguate errors that bear the same status code\nand are non-obvious:\n\n```\nHTTP 1.1 403 Forbidden\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Cannot get this video regarding follow constraints\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"status\": 403,\n  \"title\": \"Forbidden\",\n  \"type\": \"https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints\"\n}\n```\n\nHere a 403 error could otherwise mean that the video is private or blocklisted.\n\n### Validation errors\n\nEach parameter is evaluated on its own against a set of rules before the route validator\nproceeds with potential testing involving parameter combinations. Errors coming from validation\nerrors appear earlier and benefit from a more detailed error description:\n\n```\nHTTP 1.1 400 Bad Request\nContent-Type: application/problem+json; charset=utf-8\n\n{\n  \"detail\": \"Incorrect request parameters: id\",\n  \"docs\": \"https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo\",\n  \"instance\": \"/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180\",\n  \"invalid-params\": {\n    \"id\": {\n      \"location\": \"params\",\n      \"msg\": \"Invalid value\",\n      \"param\": \"id\",\n      \"value\": \"9c9de5e8-0a1e-484a-b099-e80766180\"\n    }\n  },\n  \"status\": 400,\n  \"title\": \"Bad Request\",\n  \"type\": \"about:blank\"\n}\n```\n\nWhere `id` is the name of the field concerned by the error, within the route definition.\n`invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and\n`invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`\n is about.\n\n### Deprecated error fields\n\nSome fields could be included with previous versions. They are still included but their use is deprecated:\n- `error`: superseded by `detail`\n\n# Rate limits\n\nWe are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:\n\n| Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |\n|------------------------------|---------------|--------------|\n | `/*`                         | 50            | 10 seconds   |\n| `POST /users/token`          | 15            | 5 minutes    |\n| `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |\n| `POST /users/ask-send-verify-email` | 3      | 5 minutes    |\n\nDepending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service\nlimit is announced by a `429 Too Many Requests` status code.\n\nYou can get details about the current state of your rate limit by reading the\nfollowing headers:\n\n| Header                  | Description                                                |\n|-------------------------|------------------------------------------------------------|\n | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |\n| `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |\n| `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |\n| `Retry-After`           | Seconds to delay after the first `429` is received         |\n\n# CORS\n\nThis API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),\nallowing cross-domain communication from the browser for some routes:\n\n| Endpoint                    |\n|------------------------- ---|\n| `/api/*`                    |\n| `/download/*`               |\n| `/lazy-static/*`            |\n| `/.well-known/webfinger`    |\n\nIn addition, all routes serving ActivityPub are CORS-enabled for all origins.\n",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://peertube2.cpy.re",
      "description": "Live Test Server (live data - latest nightly version)"
    },
    {
      "url": "https://peertube3.cpy.re",
      "description": "Live Test Server (live data - latest RC version)"
    },
    {
      "url": "https://peertube.cpy.re",
      "description": "Live Test Server (live data - stable version)"
    }
  ],
  "paths": {
    "/static/web-videos/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/web-videos/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private Web Video file",
        "description": "**PeerTube >= 6.0**",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get public HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/static/streaming-playlists/hls/private/{filename}": {
      "get": {
        "tags": [
          "Static Video Files"
        ],
        "summary": "Get private HLS video file",
        "parameters": [
          {
            "$ref": "#/components/parameters/staticFilename"
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          },
          {
            "$ref": "#/components/parameters/reinjectVideoFileToken"
          }
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "invalid auth"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/download/videos/generate/:videoId": {
      "get": {
        "tags": [
          "Video Download"
        ],
        "summary": "Download video file",
        "description": "Generate a mp4 container that contains at most 1 video stream and at most 1 audio stream. Mainly used to merge the HLS audio only video file and the HLS video only resolution file.",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "description": "The video id",
            "schema": {
              "$ref": "#/components/schemas/Video/properties/id"
            }
          },
          {
            "name": "videoFileIds",
            "in": "query",
            "required": true,
            "description": "streams of video files to mux in the output",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/videoFileToken"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/feeds/video-comments.{format}": {
      "get": {
        "tags": [
          "Video Feeds"
        ],
        "summary": "Comments on videos feeds",
        "operationId": "getSyndicatedComments",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "rss",
                "rss2",
                "atom",
                "atom1",
                "json",
                "json1"
              ]
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "description": "limit listing comments to a specific video",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "limit listing comments to videos of a specific account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelId",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoChannelName",
            "in": "query",
            "description": "limit listing comments to videos of a specific video channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "default": "max-age=900"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 30 Sep 2025 12:42:43 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Népal : 4 jours pour faire tomber un gouvernement corrompu - Turb]]></title>\n            <link>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</link>\n            <guid>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</guid>\n            <pubDate>Tue, 30 Sep 2025 07:39:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \nCette vidéo semble cassée, elle reste bloquée à partir du générique.</p>]]></content:encoded>\n            <dc:creator>Turb</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - Papi CriCri]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</guid>\n            <pubDate>Mon, 29 Sep 2025 20:44:00 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> c’eût été sympa de faire un tour du côté de Toulouse. Bouhouhou.</p>]]></content:encoded>\n            <dc:creator>Papi CriCri</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - Obsidian Urbex Photography]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 18:29:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://sk.zehnvorne.social/@0mega\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>0mega</span></a></span> <span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex@lostpod.space</span></a></span> \nSo cool aren't they 😅</p>]]></content:encoded>\n            <dc:creator>Obsidian Urbex Photography</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</guid>\n            <pubDate>Mon, 29 Sep 2025 16:27:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \nCe serait sympa de penser au <a href=\"https://piaille.fr/tags/b%C3%A9arn\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>béarn</span></a> , vous nous manquez</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - 0mega 🧟‍♂️ [SK]]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 14:27:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@obsidianurbex@lostpod.space</a> I love those Edwardian/Victorian chimneys 🤩</p>]]></content:encoded>\n            <dc:creator>0mega 🧟‍♂️ [SK]</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rester sur X pour débattre avec tout le monde ? Le Libre marché des idées - Stemy]]></title>\n            <link>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</link>\n            <guid>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</guid>\n            <pubDate>Mon, 29 Sep 2025 09:32:11 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>philoxime</span></a></span> Je suis encore plus découragé après avoir vu cette vidéo. Parce qu'honnêtement, les moyens évoqués dans la vidéo pour préserver le débat d'idées sont tellement à contre-courant du climat politique ambiant qu'il me paraît fou d'espérer qu'elles ne soient pas condamnées à être marginales, voire à disparaître.</p>]]></content:encoded>\n            <dc:creator>Stemy</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - Episode 1168 - aNONradio.net - 2025/09/28 - cat K.]]></title>\n            <link>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</link>\n            <guid>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</guid>\n            <pubDate>Mon, 29 Sep 2025 02:39:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> does the TTS still call you snawdusk? 😂</p>]]></content:encoded>\n            <dc:creator>cat K.</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Live - 9/28/2025, 6:54:36 AM - screwlisp]]></title>\n            <link>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</link>\n            <guid>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</guid>\n            <pubDate>Sun, 28 Sep 2025 20:56:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>sharpsign inexplicable <a href=\"https://gamerplus.org/tags/lisp\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>lisp</span></a> <a href=\"https://gamerplus.org/tags/podcast\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>podcast</span></a> ?? Sharpsign, this was the thread being read and commentated, which then continued: <a href=\"https://gamerplus.org/@screwlisp/115256297646469669\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>gamerplus.org/@screwlisp/11525</span><span>6297646469669</span></a>\nYou could skip the first three minutes (which were debugging my audio before the Sunday-morning-in-europe <a href=\"https://gamerplus.org/tags/peertube\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>peertube</span></a> <a href=\"https://gamerplus.org/tags/live\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>live</span></a> )</p><p>Featuring <span><a href=\"https://appdot.net/@mdhughes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>mdhughes</span></a></span> \n<span><a href=\"https://toobnix.org/accounts/screwtape\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>screwtape</span></a></span></p>]]></content:encoded>\n            <dc:creator>screwlisp</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sun, 28 Sep 2025 12:59:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@rat@social.sdf.org thank you ratxue!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Quelqu'un qui m'a dit... - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</link>\n            <guid>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</guid>\n            <pubDate>Sun, 28 Sep 2025 09:58:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Merci <span><a href=\"https://piaille.fr/@MadameMollette\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>MadameMollette</span></a></span> , je découvre en plus qu'on peut suivre <span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \ndirectement ici 🙂 et pour celles et ceux qui se tâtent, allez voir le spectacle il est vraiment excellent</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sat, 27 Sep 2025 23:13:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> 🏃 👍</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - derAlff]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</guid>\n            <pubDate>Sat, 27 Sep 2025 21:38:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Had the VollaPhone 1 in the past… and it’s not cool 😔.</p>\n]]></content:encoded>\n            <dc:creator>derAlff</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Cosmic & PopOS betas are here! Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</link>\n            <guid>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</guid>\n            <pubDate>Sat, 27 Sep 2025 00:48:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pop OS Cosmic, it's basicall Ubuntu with a modified GNOME desktop, and unlike Cinnamon, has all the things I dislike about GNOME. So no... not impressed.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Sarkozy, Macron : les racailles de la République - Entité terrestre auto-critique]]></title>\n            <link>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</link>\n            <guid>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</guid>\n            <pubDate>Fri, 26 Sep 2025 17:09:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \n\"nous votons pour les pires\", Albert Jaquard</p>]]></content:encoded>\n            <dc:creator>Entité terrestre auto-critique</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La méditation 4/8 — SCRIPT #2 - Méta de Choc]]></title>\n            <link>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</link>\n            <guid>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</guid>\n            <pubDate>Fri, 26 Sep 2025 08:10:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tinylittleenormous@piaille.fr En principe la publication (automatisée) sur Skeptikon se fait une heure après celle de YouTube, mais il y a eu quelques soucis techniques ces derniers mois. Merci de votre fidélité, Étienne.</p>\n]]></content:encoded>\n            <dc:creator>Méta de Choc</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[A Spooky Cute House - Krita Digital Painting Timelapse - Fluffgar]]></title>\n            <link>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</link>\n            <guid>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</guid>\n            <pubDate>Thu, 25 Sep 2025 10:20:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>These videos are excellent and really deserve more interaction.</p>\n<p>Thankyou for making them.</p>\n]]></content:encoded>\n            <dc:creator>Fluffgar</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Collaboration : révélations sur les liens entre le patronat et l’extrême droite - tibo lalu]]></title>\n            <link>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</link>\n            <guid>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</guid>\n            <pubDate>Tue, 23 Sep 2025 19:34:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour flipper encore plus c'est bien de se rappeler ce que dit <a href=\"https://framapiaf.org/tags/Chapoutot\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Chapoutot</span></a> </p><p> <a href=\"https://video.blast-info.fr/w/45rcCEivaCMpSFNcEVhRze\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/45rcCEiv</span><span>aCMpSFNcEVhRze</span></a></p>]]></content:encoded>\n            <dc:creator>tibo lalu</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Installer facilement Xlibre sur Archlinux ou apparenté. - hwoosman]]></title>\n            <link>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</link>\n            <guid>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</guid>\n            <pubDate>Tue, 23 Sep 2025 07:31:45 GMT</pubDate>\n            <content:encoded><![CDATA[<p>salut salut fred, ravi de voir que tu fais une petite demo sur arch, ça te dirais pas de refaire un tuto instal Arch remis au gout du jour apres plus de 5 ans (je crois) ?</p>\n]]></content:encoded>\n            <dc:creator>hwoosman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned Cold War nuclear fallout bunker, Budapest, Hungary - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</link>\n            <guid>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</guid>\n            <pubDate>Mon, 22 Sep 2025 20:44:35 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tosbourn@masto.ai it really is my pleasure! I'm a photographer starting to branch out into short videos, so I really appreciate the support and encouragement 🙏</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[An abandoned radio & TV broadcasting station in Belgium - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</link>\n            <guid>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</guid>\n            <pubDate>Mon, 22 Sep 2025 20:39:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@menos@todon.eu aye it's still connected to.... Something.  In one room server lights were blinking so there is at least some remote connection and/or monitoring. Was quite interesting!</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/rss+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 30 Sep 2025 12:42:43 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Népal : 4 jours pour faire tomber un gouvernement corrompu - Turb]]></title>\n            <link>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</link>\n            <guid>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</guid>\n            <pubDate>Tue, 30 Sep 2025 07:39:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \nCette vidéo semble cassée, elle reste bloquée à partir du générique.</p>]]></content:encoded>\n            <dc:creator>Turb</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - Papi CriCri]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</guid>\n            <pubDate>Mon, 29 Sep 2025 20:44:00 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> c’eût été sympa de faire un tour du côté de Toulouse. Bouhouhou.</p>]]></content:encoded>\n            <dc:creator>Papi CriCri</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - Obsidian Urbex Photography]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 18:29:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://sk.zehnvorne.social/@0mega\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>0mega</span></a></span> <span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex@lostpod.space</span></a></span> \nSo cool aren't they 😅</p>]]></content:encoded>\n            <dc:creator>Obsidian Urbex Photography</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</guid>\n            <pubDate>Mon, 29 Sep 2025 16:27:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \nCe serait sympa de penser au <a href=\"https://piaille.fr/tags/b%C3%A9arn\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>béarn</span></a> , vous nous manquez</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - 0mega 🧟‍♂️ [SK]]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 14:27:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@obsidianurbex@lostpod.space</a> I love those Edwardian/Victorian chimneys 🤩</p>]]></content:encoded>\n            <dc:creator>0mega 🧟‍♂️ [SK]</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rester sur X pour débattre avec tout le monde ? Le Libre marché des idées - Stemy]]></title>\n            <link>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</link>\n            <guid>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</guid>\n            <pubDate>Mon, 29 Sep 2025 09:32:11 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>philoxime</span></a></span> Je suis encore plus découragé après avoir vu cette vidéo. Parce qu'honnêtement, les moyens évoqués dans la vidéo pour préserver le débat d'idées sont tellement à contre-courant du climat politique ambiant qu'il me paraît fou d'espérer qu'elles ne soient pas condamnées à être marginales, voire à disparaître.</p>]]></content:encoded>\n            <dc:creator>Stemy</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - Episode 1168 - aNONradio.net - 2025/09/28 - cat K.]]></title>\n            <link>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</link>\n            <guid>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</guid>\n            <pubDate>Mon, 29 Sep 2025 02:39:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> does the TTS still call you snawdusk? 😂</p>]]></content:encoded>\n            <dc:creator>cat K.</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Live - 9/28/2025, 6:54:36 AM - screwlisp]]></title>\n            <link>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</link>\n            <guid>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</guid>\n            <pubDate>Sun, 28 Sep 2025 20:56:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>sharpsign inexplicable <a href=\"https://gamerplus.org/tags/lisp\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>lisp</span></a> <a href=\"https://gamerplus.org/tags/podcast\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>podcast</span></a> ?? Sharpsign, this was the thread being read and commentated, which then continued: <a href=\"https://gamerplus.org/@screwlisp/115256297646469669\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>gamerplus.org/@screwlisp/11525</span><span>6297646469669</span></a>\nYou could skip the first three minutes (which were debugging my audio before the Sunday-morning-in-europe <a href=\"https://gamerplus.org/tags/peertube\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>peertube</span></a> <a href=\"https://gamerplus.org/tags/live\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>live</span></a> )</p><p>Featuring <span><a href=\"https://appdot.net/@mdhughes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>mdhughes</span></a></span> \n<span><a href=\"https://toobnix.org/accounts/screwtape\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>screwtape</span></a></span></p>]]></content:encoded>\n            <dc:creator>screwlisp</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sun, 28 Sep 2025 12:59:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@rat@social.sdf.org thank you ratxue!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Quelqu'un qui m'a dit... - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</link>\n            <guid>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</guid>\n            <pubDate>Sun, 28 Sep 2025 09:58:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Merci <span><a href=\"https://piaille.fr/@MadameMollette\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>MadameMollette</span></a></span> , je découvre en plus qu'on peut suivre <span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \ndirectement ici 🙂 et pour celles et ceux qui se tâtent, allez voir le spectacle il est vraiment excellent</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sat, 27 Sep 2025 23:13:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> 🏃 👍</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - derAlff]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</guid>\n            <pubDate>Sat, 27 Sep 2025 21:38:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Had the VollaPhone 1 in the past… and it’s not cool 😔.</p>\n]]></content:encoded>\n            <dc:creator>derAlff</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Cosmic & PopOS betas are here! Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</link>\n            <guid>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</guid>\n            <pubDate>Sat, 27 Sep 2025 00:48:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pop OS Cosmic, it's basicall Ubuntu with a modified GNOME desktop, and unlike Cinnamon, has all the things I dislike about GNOME. So no... not impressed.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Sarkozy, Macron : les racailles de la République - Entité terrestre auto-critique]]></title>\n            <link>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</link>\n            <guid>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</guid>\n            <pubDate>Fri, 26 Sep 2025 17:09:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \n\"nous votons pour les pires\", Albert Jaquard</p>]]></content:encoded>\n            <dc:creator>Entité terrestre auto-critique</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La méditation 4/8 — SCRIPT #2 - Méta de Choc]]></title>\n            <link>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</link>\n            <guid>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</guid>\n            <pubDate>Fri, 26 Sep 2025 08:10:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tinylittleenormous@piaille.fr En principe la publication (automatisée) sur Skeptikon se fait une heure après celle de YouTube, mais il y a eu quelques soucis techniques ces derniers mois. Merci de votre fidélité, Étienne.</p>\n]]></content:encoded>\n            <dc:creator>Méta de Choc</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[A Spooky Cute House - Krita Digital Painting Timelapse - Fluffgar]]></title>\n            <link>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</link>\n            <guid>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</guid>\n            <pubDate>Thu, 25 Sep 2025 10:20:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>These videos are excellent and really deserve more interaction.</p>\n<p>Thankyou for making them.</p>\n]]></content:encoded>\n            <dc:creator>Fluffgar</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Collaboration : révélations sur les liens entre le patronat et l’extrême droite - tibo lalu]]></title>\n            <link>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</link>\n            <guid>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</guid>\n            <pubDate>Tue, 23 Sep 2025 19:34:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour flipper encore plus c'est bien de se rappeler ce que dit <a href=\"https://framapiaf.org/tags/Chapoutot\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Chapoutot</span></a> </p><p> <a href=\"https://video.blast-info.fr/w/45rcCEivaCMpSFNcEVhRze\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/45rcCEiv</span><span>aCMpSFNcEVhRze</span></a></p>]]></content:encoded>\n            <dc:creator>tibo lalu</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Installer facilement Xlibre sur Archlinux ou apparenté. - hwoosman]]></title>\n            <link>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</link>\n            <guid>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</guid>\n            <pubDate>Tue, 23 Sep 2025 07:31:45 GMT</pubDate>\n            <content:encoded><![CDATA[<p>salut salut fred, ravi de voir que tu fais une petite demo sur arch, ça te dirais pas de refaire un tuto instal Arch remis au gout du jour apres plus de 5 ans (je crois) ?</p>\n]]></content:encoded>\n            <dc:creator>hwoosman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned Cold War nuclear fallout bunker, Budapest, Hungary - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</link>\n            <guid>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</guid>\n            <pubDate>Mon, 22 Sep 2025 20:44:35 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tosbourn@masto.ai it really is my pleasure! I'm a photographer starting to branch out into short videos, so I really appreciate the support and encouragement 🙏</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[An abandoned radio & TV broadcasting station in Belgium - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</link>\n            <guid>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</guid>\n            <pubDate>Mon, 22 Sep 2025 20:39:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@menos@todon.eu aye it's still connected to.... Something.  In one room server lights were blinking so there is at least some remote connection and/or monitoring. Was quite interesting!</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n    <channel>\n        <title>PeerTube Nightly</title>\n        <link>https://peertube2.cpy.re</link>\n        <description>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</description>\n        <lastBuildDate>Tue, 30 Sep 2025 12:42:43 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n        <generator>PeerTube - https://peertube2.cpy.re</generator>\n        <image>\n            <title>PeerTube Nightly</title>\n            <url>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</url>\n            <link>https://peertube2.cpy.re</link>\n        </image>\n        <copyright>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</copyright>\n        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\" rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n            <title><![CDATA[Népal : 4 jours pour faire tomber un gouvernement corrompu - Turb]]></title>\n            <link>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</link>\n            <guid>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</guid>\n            <pubDate>Tue, 30 Sep 2025 07:39:56 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \nCette vidéo semble cassée, elle reste bloquée à partir du générique.</p>]]></content:encoded>\n            <dc:creator>Turb</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - Papi CriCri]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</guid>\n            <pubDate>Mon, 29 Sep 2025 20:44:00 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> c’eût été sympa de faire un tour du côté de Toulouse. Bouhouhou.</p>]]></content:encoded>\n            <dc:creator>Papi CriCri</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - Obsidian Urbex Photography]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 18:29:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://sk.zehnvorne.social/@0mega\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>0mega</span></a></span> <span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex@lostpod.space</span></a></span> \nSo cool aren't they 😅</p>]]></content:encoded>\n            <dc:creator>Obsidian Urbex Photography</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</link>\n            <guid>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</guid>\n            <pubDate>Mon, 29 Sep 2025 16:27:52 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \nCe serait sympa de penser au <a href=\"https://piaille.fr/tags/b%C3%A9arn\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>béarn</span></a> , vous nous manquez</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - 0mega 🧟‍♂️ [SK]]]></title>\n            <link>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</link>\n            <guid>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</guid>\n            <pubDate>Mon, 29 Sep 2025 14:27:04 GMT</pubDate>\n            <content:encoded><![CDATA[<p><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@obsidianurbex@lostpod.space</a> I love those Edwardian/Victorian chimneys 🤩</p>]]></content:encoded>\n            <dc:creator>0mega 🧟‍♂️ [SK]</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Rester sur X pour débattre avec tout le monde ? Le Libre marché des idées - Stemy]]></title>\n            <link>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</link>\n            <guid>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</guid>\n            <pubDate>Mon, 29 Sep 2025 09:32:11 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>philoxime</span></a></span> Je suis encore plus découragé après avoir vu cette vidéo. Parce qu'honnêtement, les moyens évoqués dans la vidéo pour préserver le débat d'idées sont tellement à contre-courant du climat politique ambiant qu'il me paraît fou d'espérer qu'elles ne soient pas condamnées à être marginales, voire à disparaître.</p>]]></content:encoded>\n            <dc:creator>Stemy</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - Episode 1168 - aNONradio.net - 2025/09/28 - cat K.]]></title>\n            <link>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</link>\n            <guid>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</guid>\n            <pubDate>Mon, 29 Sep 2025 02:39:16 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> does the TTS still call you snawdusk? 😂</p>]]></content:encoded>\n            <dc:creator>cat K.</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Live - 9/28/2025, 6:54:36 AM - screwlisp]]></title>\n            <link>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</link>\n            <guid>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</guid>\n            <pubDate>Sun, 28 Sep 2025 20:56:22 GMT</pubDate>\n            <content:encoded><![CDATA[<p>sharpsign inexplicable <a href=\"https://gamerplus.org/tags/lisp\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>lisp</span></a> <a href=\"https://gamerplus.org/tags/podcast\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>podcast</span></a> ?? Sharpsign, this was the thread being read and commentated, which then continued: <a href=\"https://gamerplus.org/@screwlisp/115256297646469669\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>gamerplus.org/@screwlisp/11525</span><span>6297646469669</span></a>\nYou could skip the first three minutes (which were debugging my audio before the Sunday-morning-in-europe <a href=\"https://gamerplus.org/tags/peertube\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>peertube</span></a> <a href=\"https://gamerplus.org/tags/live\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>live</span></a> )</p><p>Featuring <span><a href=\"https://appdot.net/@mdhughes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>mdhughes</span></a></span> \n<span><a href=\"https://toobnix.org/accounts/screwtape\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>screwtape</span></a></span></p>]]></content:encoded>\n            <dc:creator>screwlisp</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sun, 28 Sep 2025 12:59:39 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@rat@social.sdf.org thank you ratxue!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Quelqu'un qui m'a dit... - tontongrincheux]]></title>\n            <link>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</link>\n            <guid>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</guid>\n            <pubDate>Sun, 28 Sep 2025 09:58:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Merci <span><a href=\"https://piaille.fr/@MadameMollette\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>MadameMollette</span></a></span> , je découvre en plus qu'on peut suivre <span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \ndirectement ici 🙂 et pour celles et ceux qui se tâtent, allez voir le spectacle il est vraiment excellent</p>]]></content:encoded>\n            <dc:creator>tontongrincheux</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</link>\n            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</guid>\n            <pubDate>Sat, 27 Sep 2025 23:13:44 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> 🏃 👍</p>]]></content:encoded>\n            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - derAlff]]></title>\n            <link>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</link>\n            <guid>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</guid>\n            <pubDate>Sat, 27 Sep 2025 21:38:07 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Had the VollaPhone 1 in the past… and it’s not cool 😔.</p>\n]]></content:encoded>\n            <dc:creator>derAlff</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[The Cosmic & PopOS betas are here! Linux Weekly News - tracy anne]]></title>\n            <link>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</link>\n            <guid>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</guid>\n            <pubDate>Sat, 27 Sep 2025 00:48:36 GMT</pubDate>\n            <content:encoded><![CDATA[<p>Pop OS Cosmic, it's basicall Ubuntu with a modified GNOME desktop, and unlike Cinnamon, has all the things I dislike about GNOME. So no... not impressed.</p>\n]]></content:encoded>\n            <dc:creator>tracy anne</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Sarkozy, Macron : les racailles de la République - Entité terrestre auto-critique]]></title>\n            <link>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</link>\n            <guid>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</guid>\n            <pubDate>Fri, 26 Sep 2025 17:09:19 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \n\"nous votons pour les pires\", Albert Jaquard</p>]]></content:encoded>\n            <dc:creator>Entité terrestre auto-critique</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[La méditation 4/8 — SCRIPT #2 - Méta de Choc]]></title>\n            <link>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</link>\n            <guid>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</guid>\n            <pubDate>Fri, 26 Sep 2025 08:10:31 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tinylittleenormous@piaille.fr En principe la publication (automatisée) sur Skeptikon se fait une heure après celle de YouTube, mais il y a eu quelques soucis techniques ces derniers mois. Merci de votre fidélité, Étienne.</p>\n]]></content:encoded>\n            <dc:creator>Méta de Choc</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[A Spooky Cute House - Krita Digital Painting Timelapse - Fluffgar]]></title>\n            <link>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</link>\n            <guid>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</guid>\n            <pubDate>Thu, 25 Sep 2025 10:20:21 GMT</pubDate>\n            <content:encoded><![CDATA[<p>These videos are excellent and really deserve more interaction.</p>\n<p>Thankyou for making them.</p>\n]]></content:encoded>\n            <dc:creator>Fluffgar</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Collaboration : révélations sur les liens entre le patronat et l’extrême droite - tibo lalu]]></title>\n            <link>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</link>\n            <guid>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</guid>\n            <pubDate>Tue, 23 Sep 2025 19:34:02 GMT</pubDate>\n            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour flipper encore plus c'est bien de se rappeler ce que dit <a href=\"https://framapiaf.org/tags/Chapoutot\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Chapoutot</span></a> </p><p> <a href=\"https://video.blast-info.fr/w/45rcCEivaCMpSFNcEVhRze\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/45rcCEiv</span><span>aCMpSFNcEVhRze</span></a></p>]]></content:encoded>\n            <dc:creator>tibo lalu</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Installer facilement Xlibre sur Archlinux ou apparenté. - hwoosman]]></title>\n            <link>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</link>\n            <guid>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</guid>\n            <pubDate>Tue, 23 Sep 2025 07:31:45 GMT</pubDate>\n            <content:encoded><![CDATA[<p>salut salut fred, ravi de voir que tu fais une petite demo sur arch, ça te dirais pas de refaire un tuto instal Arch remis au gout du jour apres plus de 5 ans (je crois) ?</p>\n]]></content:encoded>\n            <dc:creator>hwoosman</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[Exploring an abandoned Cold War nuclear fallout bunker, Budapest, Hungary - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</link>\n            <guid>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</guid>\n            <pubDate>Mon, 22 Sep 2025 20:44:35 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@tosbourn@masto.ai it really is my pleasure! I'm a photographer starting to branch out into short videos, so I really appreciate the support and encouragement 🙏</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n        <item>\n            <title><![CDATA[An abandoned radio & TV broadcasting station in Belgium - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n            <link>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</link>\n            <guid>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</guid>\n            <pubDate>Mon, 22 Sep 2025 20:39:40 GMT</pubDate>\n            <content:encoded><![CDATA[<p>@menos@todon.eu aye it's still connected to.... Something.  In one room server lights were blinking so there is at least some remote connection and/or monitoring. Was quite interesting!</p>\n]]></content:encoded>\n            <dc:creator>ObsidianUrbex</dc:creator>\n        </item>\n    </channel>\n</rss>"
                  }
                }
              },
              "application/atom+xml": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCommentsForXML"
                },
                "examples": {
                  "nightly": {
                    "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n    <id>https://peertube2.cpy.re</id>\n    <title>PeerTube Nightly</title>\n    <updated>2025-09-30T12:42:43.615Z</updated>\n    <generator>PeerTube - https://peertube2.cpy.re</generator>\n    <link rel=\"alternate\" href=\"https://peertube2.cpy.re\"/>\n    <link rel=\"self\" href=\"https://peertube2.cpy.re/feeds/video-comments.atom?scope=local\"/>\n    <subtitle>This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.</subtitle>\n    <logo>https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png</logo>\n    <icon>https://peertube2.cpy.re/lazy-static/avatars/abace30f-69ad-4ff2-a954-dea06c5db6eb.png</icon>\n    <rights>All rights reserved, unless otherwise specified in the terms specified at https://peertube2.cpy.re/about and potential licenses granted by each content's rightholder.</rights>\n    <entry>\n        <title type=\"html\"><![CDATA[Népal : 4 jours pour faire tomber un gouvernement corrompu - Turb]]></title>\n        <id>https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075</id>\n        <link href=\"https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075\"/>\n        <updated>2025-09-30T07:39:56.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \nCette vidéo semble cassée, elle reste bloquée à partir du générique.</p>]]></content>\n        <author>\n            <name>Turb</name>\n            <uri>https://mamot.fr/users/turb</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - Papi CriCri]]></title>\n        <id>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074</id>\n        <link href=\"https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074\"/>\n        <updated>2025-09-29T20:44:00.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> c’eût été sympa de faire un tour du côté de Toulouse. Bouhouhou.</p>]]></content>\n        <author>\n            <name>Papi CriCri</name>\n            <uri>https://oc.todon.fr/users/ccuq</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - Obsidian Urbex Photography]]></title>\n        <id>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</id>\n        <link href=\"https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072\"/>\n        <updated>2025-09-29T18:29:40.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://sk.zehnvorne.social/@0mega\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>0mega</span></a></span> <span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex@lostpod.space</span></a></span> \nSo cool aren't they 😅</p>]]></content>\n        <author>\n            <name>Obsidian Urbex Photography</name>\n            <uri>https://mstdn.social/users/ObsidianUrbex</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - tontongrincheux]]></title>\n        <id>https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071</id>\n        <link href=\"https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071\"/>\n        <updated>2025-09-29T16:27:52.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \nCe serait sympa de penser au <a href=\"https://piaille.fr/tags/b%C3%A9arn\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>béarn</span></a> , vous nous manquez</p>]]></content>\n        <author>\n            <name>tontongrincheux</name>\n            <uri>https://piaille.fr/users/chrisfed</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - 0mega 🧟‍♂️ [SK]]]></title>\n        <id>https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072</id>\n        <link href=\"https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072\"/>\n        <updated>2025-09-29T14:27:04.083Z</updated>\n        <content type=\"html\"><![CDATA[<p><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@obsidianurbex@lostpod.space</a> I love those Edwardian/Victorian chimneys 🤩</p>]]></content>\n        <author>\n            <name>0mega 🧟‍♂️ [SK]</name>\n            <uri>https://sk.zehnvorne.social/users/9rj15c1d0jns0005</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Rester sur X pour débattre avec tout le monde ? Le Libre marché des idées - Stemy]]></title>\n        <id>https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070</id>\n        <link href=\"https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070\"/>\n        <updated>2025-09-29T09:32:11.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>philoxime</span></a></span> Je suis encore plus découragé après avoir vu cette vidéo. Parce qu'honnêtement, les moyens évoqués dans la vidéo pour préserver le débat d'idées sont tellement à contre-courant du climat politique ambiant qu'il me paraît fou d'espérer qu'elles ne soient pas condamnées à être marginales, voire à disparaître.</p>]]></content>\n        <author>\n            <name>Stemy</name>\n            <uri>https://framapiaf.org/users/Stem</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - Episode 1168 - aNONradio.net - 2025/09/28 - cat K.]]></title>\n        <id>https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069</id>\n        <link href=\"https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069\"/>\n        <updated>2025-09-29T02:39:16.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> does the TTS still call you snawdusk? 😂</p>]]></content>\n        <author>\n            <name>cat K.</name>\n            <uri>https://mastodon.sdf.org/users/Cat</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Live - 9/28/2025, 6:54:36 AM - screwlisp]]></title>\n        <id>https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068</id>\n        <link href=\"https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068\"/>\n        <updated>2025-09-28T20:56:22.000Z</updated>\n        <content type=\"html\"><![CDATA[<p>sharpsign inexplicable <a href=\"https://gamerplus.org/tags/lisp\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>lisp</span></a> <a href=\"https://gamerplus.org/tags/podcast\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>podcast</span></a> ?? Sharpsign, this was the thread being read and commentated, which then continued: <a href=\"https://gamerplus.org/@screwlisp/115256297646469669\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>gamerplus.org/@screwlisp/11525</span><span>6297646469669</span></a>\nYou could skip the first three minutes (which were debugging my audio before the Sunday-morning-in-europe <a href=\"https://gamerplus.org/tags/peertube\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>peertube</span></a> <a href=\"https://gamerplus.org/tags/live\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>live</span></a> )</p><p>Featuring <span><a href=\"https://appdot.net/@mdhughes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>mdhughes</span></a></span> \n<span><a href=\"https://toobnix.org/accounts/screwtape\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>screwtape</span></a></span></p>]]></content>\n        <author>\n            <name>screwlisp</name>\n            <uri>https://gamerplus.org/users/screwlisp</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n        <id>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</id>\n        <link href=\"https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064\"/>\n        <updated>2025-09-28T12:59:39.379Z</updated>\n        <content type=\"html\"><![CDATA[<p>@rat@social.sdf.org thank you ratxue!</p>\n]]></content>\n        <author>\n            <name>snowdusk</name>\n            <uri>https://toobnix.org/accounts/snowdusk</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Quelqu'un qui m'a dit... - tontongrincheux]]></title>\n        <id>https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065</id>\n        <link href=\"https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065\"/>\n        <updated>2025-09-28T09:58:21.000Z</updated>\n        <content type=\"html\"><![CDATA[<p>Merci <span><a href=\"https://piaille.fr/@MadameMollette\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>MadameMollette</span></a></span> , je découvre en plus qu'on peut suivre <span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \ndirectement ici 🙂 et pour celles et ceux qui se tâtent, allez voir le spectacle il est vraiment excellent</p>]]></content>\n        <author>\n            <name>tontongrincheux</name>\n            <uri>https://piaille.fr/users/chrisfed</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊𝚝]]></title>\n        <id>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064</id>\n        <link href=\"https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064\"/>\n        <updated>2025-09-27T23:13:44.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> 🏃 👍</p>]]></content>\n        <author>\n            <name>𝚛𝚊𝚝</name>\n            <uri>https://social.sdf.org/users/rat</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Android without Google: Volla Phone Quintus & Volla OS - derAlff]]></title>\n        <id>https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063</id>\n        <link href=\"https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063\"/>\n        <updated>2025-09-27T21:38:07.620Z</updated>\n        <content type=\"html\"><![CDATA[<p>Had the VollaPhone 1 in the past… and it’s not cool 😔.</p>\n]]></content>\n        <author>\n            <name>derAlff</name>\n            <uri>https://tube.alff.xyz/accounts/deralff</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[The Cosmic & PopOS betas are here! Linux Weekly News - tracy anne]]></title>\n        <id>https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062</id>\n        <link href=\"https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062\"/>\n        <updated>2025-09-27T00:48:36.958Z</updated>\n        <content type=\"html\"><![CDATA[<p>Pop OS Cosmic, it's basicall Ubuntu with a modified GNOME desktop, and unlike Cinnamon, has all the things I dislike about GNOME. So no... not impressed.</p>\n]]></content>\n        <author>\n            <name>tracy anne</name>\n            <uri>https://tilvids.com/accounts/tracy_anne</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Sarkozy, Macron : les racailles de la République - Entité terrestre auto-critique]]></title>\n        <id>https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061</id>\n        <link href=\"https://peertube2.cpy.re/w/aAwvfmNJTRNbxf5T8CiRXU;threadId=182061\"/>\n        <updated>2025-09-26T17:09:19.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \n\"nous votons pour les pires\", Albert Jaquard</p>]]></content>\n        <author>\n            <name>Entité terrestre auto-critique</name>\n            <uri>https://piaille.fr/users/s4mdf0o1</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[La méditation 4/8 — SCRIPT #2 - Méta de Choc]]></title>\n        <id>https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813</id>\n        <link href=\"https://peertube2.cpy.re/w/i1ubJGeUDycJiCWcVVfeJB;threadId=181813\"/>\n        <updated>2025-09-26T08:10:31.054Z</updated>\n        <content type=\"html\"><![CDATA[<p>@tinylittleenormous@piaille.fr En principe la publication (automatisée) sur Skeptikon se fait une heure après celle de YouTube, mais il y a eu quelques soucis techniques ces derniers mois. Merci de votre fidélité, Étienne.</p>\n]]></content>\n        <author>\n            <name>Méta de Choc</name>\n            <uri>https://skeptikon.fr/accounts/metadechoc</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[A Spooky Cute House - Krita Digital Painting Timelapse - Fluffgar]]></title>\n        <id>https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056</id>\n        <link href=\"https://peertube2.cpy.re/w/akvnJF2FPAAjphFgFZ8beP;threadId=182056\"/>\n        <updated>2025-09-25T10:20:21.411Z</updated>\n        <content type=\"html\"><![CDATA[<p>These videos are excellent and really deserve more interaction.</p>\n<p>Thankyou for making them.</p>\n]]></content>\n        <author>\n            <name>Fluffgar</name>\n            <uri>https://makertube.net/accounts/fluffgar</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Collaboration : révélations sur les liens entre le patronat et l’extrême droite - tibo lalu]]></title>\n        <id>https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053</id>\n        <link href=\"https://peertube2.cpy.re/w/vMhDcLPYe63BcyY47iXraz;threadId=182053\"/>\n        <updated>2025-09-23T19:34:02.000Z</updated>\n        <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> pour flipper encore plus c'est bien de se rappeler ce que dit <a href=\"https://framapiaf.org/tags/Chapoutot\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>Chapoutot</span></a> </p><p> <a href=\"https://video.blast-info.fr/w/45rcCEivaCMpSFNcEVhRze\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>video.blast-info.fr/w/45rcCEiv</span><span>aCMpSFNcEVhRze</span></a></p>]]></content>\n        <author>\n            <name>tibo lalu</name>\n            <uri>https://framapiaf.org/users/tibolalu</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Installer facilement Xlibre sur Archlinux ou apparenté. - hwoosman]]></title>\n        <id>https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052</id>\n        <link href=\"https://peertube2.cpy.re/w/cLVVz6BA2nWuna7UUU1VXX;threadId=182052\"/>\n        <updated>2025-09-23T07:31:45.875Z</updated>\n        <content type=\"html\"><![CDATA[<p>salut salut fred, ravi de voir que tu fais une petite demo sur arch, ça te dirais pas de refaire un tuto instal Arch remis au gout du jour apres plus de 5 ans (je crois) ?</p>\n]]></content>\n        <author>\n            <name>hwoosman</name>\n            <uri>https://peertube.fr/accounts/diablotin</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Exploring an abandoned Cold War nuclear fallout bunker, Budapest, Hungary - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n        <id>https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046</id>\n        <link href=\"https://peertube2.cpy.re/w/vTksMVnwpWWVzawzzoo5Qy;threadId=182046\"/>\n        <updated>2025-09-22T20:44:35.182Z</updated>\n        <content type=\"html\"><![CDATA[<p>@tosbourn@masto.ai it really is my pleasure! I'm a photographer starting to branch out into short videos, so I really appreciate the support and encouragement 🙏</p>\n]]></content>\n        <author>\n            <name>ObsidianUrbex</name>\n            <uri>https://lostpod.space/accounts/obsidianurbex</uri>\n        </author>\n    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[An abandoned radio & TV broadcasting station in Belgium - (Urban Exploration) Urbex & Abandoned Places - ObsidianUrbex]]></title>\n        <id>https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024</id>\n        <link href=\"https://peertube2.cpy.re/w/uHz2dEgGZygcK4cxbocSQx;threadId=182024\"/>\n        <updated>2025-09-22T20:39:40.470Z</updated>\n        <content type=\"html\"><![CDATA[<p>@menos@todon.eu aye it's still connected to.... Something.  In one room server lights were blinking so there is at least some remote connection and/or monitoring. Was quite interesting!</p>\n]]></content>\n        <author>\n            <name>ObsidianUrbex</name>\n            <uri>https://lostpod.space/accounts/obsidianurbex</uri>\n        </author>\n    </entry>\n</feed>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "nightly": {
                    "value": {
                      "version": "https://jsonfeed.org/version/1",
                      "title": "PeerTube Nightly",
                      "home_page_url": "https://peertube2.cpy.re",
                      "feed_url": "https://peertube2.cpy.re/feeds/video-comments.json?scope=local",
                      "description": "This instance is a test instance of the PeerTube project. It is updated to the latest commit in the develop branch every business day, 8pm CET.",
                      "icon": "https://peertube2.cpy.re/lazy-static/avatars/177f70c4-ddef-4bb6-bc96-b00d5e2a0e05.png",
                      "items": [
                        {
                          "id": "https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075",
                          "content_html": "<p><span><a href=\"https://video.blast-info.fr/accounts/blast\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>blast</span></a></span> \nCette vidéo semble cassée, elle reste bloquée à partir du générique.</p>",
                          "url": "https://peertube2.cpy.re/w/wKhtM1Jj638qFuCWmfyudt;threadId=182075",
                          "title": "Népal : 4 jours pour faire tomber un gouvernement corrompu - Turb",
                          "date_modified": "2025-09-30T07:39:56.000Z",
                          "author": {
                            "name": "Turb",
                            "url": "https://mamot.fr/users/turb"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074",
                          "content_html": "<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> c’eût été sympa de faire un tour du côté de Toulouse. Bouhouhou.</p>",
                          "url": "https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182074",
                          "title": "Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - Papi CriCri",
                          "date_modified": "2025-09-29T20:44:00.000Z",
                          "author": {
                            "name": "Papi CriCri",
                            "url": "https://oc.todon.fr/users/ccuq"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072",
                          "content_html": "<p><span><a href=\"https://sk.zehnvorne.social/@0mega\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>0mega</span></a></span> <span><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>obsidianurbex@lostpod.space</span></a></span> \nSo cool aren't they 😅</p>",
                          "url": "https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072",
                          "title": "Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - Obsidian Urbex Photography",
                          "date_modified": "2025-09-29T18:29:40.000Z",
                          "author": {
                            "name": "Obsidian Urbex Photography",
                            "url": "https://mstdn.social/users/ObsidianUrbex"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071",
                          "content_html": "<p><span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \nCe serait sympa de penser au <a href=\"https://piaille.fr/tags/b%C3%A9arn\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>béarn</span></a> , vous nous manquez</p>",
                          "url": "https://peertube2.cpy.re/w/8SjtdpghbERs6Mop71MYTu;threadId=182071",
                          "title": "Lecornu, au suivant ! - Les Goguettes (en trio mais à quatre) #humour #spectacle #chanson - tontongrincheux",
                          "date_modified": "2025-09-29T16:27:52.000Z",
                          "author": {
                            "name": "tontongrincheux",
                            "url": "https://piaille.fr/users/chrisfed"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072",
                          "content_html": "<p><a href=\"https://lostpod.space/accounts/obsidianurbex\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@obsidianurbex@lostpod.space</a> I love those Edwardian/Victorian chimneys 🤩</p>",
                          "url": "https://peertube2.cpy.re/w/5Q2xz9cvsdbJu3bXifcGAo;threadId=182072",
                          "title": "Exploring an abandoned \"Lunatic Asylum\" in Ireland - (Urban Exploration) Urbex & Abandoned Places - 0mega 🧟‍♂️ [SK]",
                          "date_modified": "2025-09-29T14:27:04.083Z",
                          "author": {
                            "name": "0mega 🧟‍♂️ [SK]",
                            "url": "https://sk.zehnvorne.social/users/9rj15c1d0jns0005"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070",
                          "content_html": "<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>philoxime</span></a></span> Je suis encore plus découragé après avoir vu cette vidéo. Parce qu'honnêtement, les moyens évoqués dans la vidéo pour préserver le débat d'idées sont tellement à contre-courant du climat politique ambiant qu'il me paraît fou d'espérer qu'elles ne soient pas condamnées à être marginales, voire à disparaître.</p>",
                          "url": "https://peertube2.cpy.re/w/4GT2jquSGpyzzvbfVpRopv;threadId=182070",
                          "title": "Rester sur X pour débattre avec tout le monde ? Le Libre marché des idées - Stemy",
                          "date_modified": "2025-09-29T09:32:11.000Z",
                          "author": {
                            "name": "Stemy",
                            "url": "https://framapiaf.org/users/Stem"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069",
                          "content_html": "<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> does the TTS still call you snawdusk? 😂</p>",
                          "url": "https://peertube2.cpy.re/w/2aQnLhD9PJcCCE1PGVcSC4;threadId=182069",
                          "title": "Intergalactic Wasabi Mix - Live Mix by snowdusk - Episode 1168 - aNONradio.net - 2025/09/28 - cat K.",
                          "date_modified": "2025-09-29T02:39:16.000Z",
                          "author": {
                            "name": "cat K.",
                            "url": "https://mastodon.sdf.org/users/Cat"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068",
                          "content_html": "<p>sharpsign inexplicable <a href=\"https://gamerplus.org/tags/lisp\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>lisp</span></a> <a href=\"https://gamerplus.org/tags/podcast\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>podcast</span></a> ?? Sharpsign, this was the thread being read and commentated, which then continued: <a href=\"https://gamerplus.org/@screwlisp/115256297646469669\" target=\"_blank\" rel=\"noopener noreferrer\"><span>https://</span><span>gamerplus.org/@screwlisp/11525</span><span>6297646469669</span></a>\nYou could skip the first three minutes (which were debugging my audio before the Sunday-morning-in-europe <a href=\"https://gamerplus.org/tags/peertube\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>peertube</span></a> <a href=\"https://gamerplus.org/tags/live\" class=\"mention hashtag\" rel=\"noopener noreferrer\" target=\"_blank\">#<span>live</span></a> )</p><p>Featuring <span><a href=\"https://appdot.net/@mdhughes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>mdhughes</span></a></span> \n<span><a href=\"https://toobnix.org/accounts/screwtape\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>screwtape</span></a></span></p>",
                          "url": "https://peertube2.cpy.re/w/jLnNLmSC8Dx5T7aDqiZXer;threadId=182068",
                          "title": "Live - 9/28/2025, 6:54:36 AM - screwlisp",
                          "date_modified": "2025-09-28T20:56:22.000Z",
                          "author": {
                            "name": "screwlisp",
                            "url": "https://gamerplus.org/users/screwlisp"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064",
                          "content_html": "<p>@rat@social.sdf.org thank you ratxue!</p>\n",
                          "url": "https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064",
                          "title": "Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk",
                          "date_modified": "2025-09-28T12:59:39.379Z",
                          "author": {
                            "name": "snowdusk",
                            "url": "https://toobnix.org/accounts/snowdusk"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065",
                          "content_html": "<p>Merci <span><a href=\"https://piaille.fr/@MadameMollette\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>MadameMollette</span></a></span> , je découvre en plus qu'on peut suivre <span><a href=\"https://indymotion.fr/accounts/lesgoguettes\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>lesgoguettes</span></a></span> \ndirectement ici 🙂 et pour celles et ceux qui se tâtent, allez voir le spectacle il est vraiment excellent</p>",
                          "url": "https://peertube2.cpy.re/w/mbMNHmMomV8tCX5AiYdMAB;threadId=182065",
                          "title": "Quelqu'un qui m'a dit... - tontongrincheux",
                          "date_modified": "2025-09-28T09:58:21.000Z",
                          "author": {
                            "name": "tontongrincheux",
                            "url": "https://piaille.fr/users/chrisfed"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064",
                          "content_html": "<p><span><a href=\"https://toobnix.org/accounts/snowdusk\" class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\">@<span>snowdusk</span></a></span> 🏃 👍</p>",
                          "url": "https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=182064",
                          "title": "Intergalactic Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊𝚝",
                          "date_modified": "2025-09-27T23:13:44.000Z",
                          "author": {
                            "name": "𝚛𝚊𝚝",
                            "url": "https://social.sdf.org/users/rat"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063",
                          "content_html": "<p>Had the VollaPhone 1 in the past… and it’s not cool 😔.</p>\n",
                          "url": "https://peertube2.cpy.re/w/rupHv17eDSj1bUbDzgunGC;threadId=182063",
                          "title": "Android without Google: Volla Phone Quintus & Volla OS - derAlff",
                          "date_modified": "2025-09-27T21:38:07.620Z",
                          "author": {
                            "name": "derAlff",
                            "url": "https://tube.alff.xyz/accounts/deralff"
                          }
                        },
                        {
                          "id": "https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062",
                          "content_html": "<p>Pop OS Cosmic, it's basicall Ubuntu with a modified GNOME desktop, and unlike Cinnamon, has all the things I dislike about GNOME. So no... not impressed.</p>\n",
                          "url": "https://peertube2.cpy.re/w/c72MBrfGuUwAEA221F7PHV;threadId=182062",
                          "title": "The Cosmic & PopOS betas are here! Linux Weekly News - tracy anne",
                          "date_modified": "2025-09-27T00:48:36.958Z",
                          "author": {
                            "name": "tracy anne",
                            "url": "https://tilvids.com/accounts/tracy_anne"
[...]
